{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": ["error", 130],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "dot-notation": ["error", { "allowPattern": "^[a-z]+(_[a-z]+)+$" }]
  },
  "globals": {
    "CKEDITOR": true,
    "app": true
  }
}
